# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env
.venv
*.venv

# Testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask
instance/
.webassets-cache

# JetBrains IDEs (PyCharm, IntelliJ, etc.)
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# MacOS
.DS_Store

# Windows
Thumbs.db
