更新 App 草稿配置
---
tags:
  - App管理
summary: 更新 App 草稿配置
description:
operationId: update_draft_app_config
parameters:
  - $ref: "#/components/parameters/appIdParam"
requestBody:
  content:
    application/json:
      schema:
        required:
          - "model_config"
          - "dialog_round"
          - "preset_prompt"
          - "tools"
          - "workflows"
          - "datasets"
          - "retrieval_config"
          - "long_term_memory"
          - "opening_statement"
          - "opening_questions"
          - "speech_to_text"
          - "text_to_speech"
          - "review_config"
        properties:
          model_config:
            required:
              - "provider"
              - "model"
              - "parameters"
            properties:
              provider:
                type: "string"
                example: "openai"
              model:
                type: "string"
                example: "gpt-4o-mini"
              parameters:
                required:
                  - "temperature"
                  - "top_p"
                  - "frequency_penalty"
                  - "presence_penalty"
                  - "max_tokens"
                properties:
                  temperature:
                    type: "number"
                    example: 0.5
                  top_p:
                    type: "number"
                    example: 0.85
                  frequency_penalty:
                    type: "number"
                    example: 0.2
                  presence_penalty:
                    type: "number"
                    example: 0.2
                  max_tokens:
                    type: "number"
                    example: 8192
                type: "object"
            type: "object"
          dialog_round:
            type: "number"
            example: 3
          preset_prompt:
            type: "string"
            example: ""
          tools:
            type: "array"
            items:
              type: "object"
              properties:
                type:
                  type: "string"
                  example: "builtin_tool"
                params:
                  required: []
                  properties: {}
                  type: "object"
                tool_id:
                  type: "string"
                  example: "google_serper"
                provider_id:
                  type: "string"
                  example: "google"
          workflows:
            type: "array"
            items:
              type: "undefined"
            example: []
          datasets:
            type: "array"
            items:
              type: "string"
            example:
              - "21348cb9-c306-4f69-83b9-3a8d83d3e96a"
              - "3a0766e3-6206-4715-a653-acf6415e70c6"
              - "a72fb5a8-e8b5-4141-9a56-2f8b17407371"
          retrieval_config:
            required:
              - "retrieval_strategy"
              - "k"
              - "score"
            properties:
              retrieval_strategy:
                type: "string"
                example: "semantic"
              k:
                type: "number"
                example: 10
              score:
                type: "number"
                example: 0.5
            type: "object"
          long_term_memory:
            required:
              - "enable"
            properties:
              enable:
                type: "boolean"
                example: false
            type: "object"
          opening_statement:
            type: "string"
            example: ""
          opening_questions:
            type: "array"
            items:
              type: "undefined"
            example: []
          speech_to_text:
            required:
              - "enable"
            properties:
              enable:
                type: "boolean"
                example: false
            type: "object"
          text_to_speech:
            required:
              - "enable"
              - "voice"
              - "auto_play"
            properties:
              enable:
                type: "boolean"
                example: false
              voice:
                type: "string"
                example: "echo"
              auto_play:
                type: "boolean"
                example: false
            type: "object"
          review_config:
            required:
              - "enable"
              - "keywords"
              - "inputs_config"
              - "outputs_config"
            properties:
              enable:
                type: "boolean"
                example: true
              keywords:
                type: "array"
                items:
                  type: "string"
                example:
                  - "test"
              inputs_config:
                required:
                  - "enable"
                  - "preset_response"
                properties:
                  enable:
                    type: "boolean"
                    example: false
                  preset_response:
                    type: "string"
                    example: "xxxx"
                type: "object"
              outputs_config:
                required:
                  - "enable"
                properties:
                  enable:
                    type: "boolean"
                    example: true
                type: "object"
            type: "object"
responses:
  x-200:
    $ref: "#/components/responses/BaseResponse"
  "200":
    content:
      application/json:
        schema:
          required:
            - "code"
            - "data"
            - "message"
          properties:
            code:
              type: "string"
              example: "success"
            data:
              type: "object"
              example: {}
            message:
              type: "string"
              example: "更新应用草稿配置成功"
